extends layout

block styles
  link(rel='stylesheet' href='/login.css')

block content
  h1 Restablecer contrase単a
  form(action=`/reset/${token}` method='post')
    label Nueva contrase単a
    input(type='password' name='password' required)
    label Confirmar contrase単a
    input(type='password' name='confirm' required)
    button(type='submit') Cambiar contrase単a
